*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
height: 100%;
}

body{
height: 100%;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
background: powderblue
}

/*---NAV BAR---*/
nav{
    /* width:500px;
    height: 80px;
    border: 2px solid black; */
}

.buttons{
    
    display: flex;
    gap: 20px;
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.size-left{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.center{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.size-right{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.button{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border-style: none;
}

#reset{
    width: 120px;
}

/*---GRID---*/
.grid-container{
    display: grid;
    width:600px;
    height: 600px;
    /*gap:1px;*/
    /*padding: 1px;*/ 
    /*background-color: grey;*/ 
}

.square{
    background-color: white;
    border:2px solid black;
    /*margin: 0;*/
}





