*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
height: 100%;
}

body{
height: 100%;
padding: 10px;
}


.grid-container{
    display: grid;
    width:500px;
    height: 500px;
    gap:1px;
    padding: 1px;
    background-color: lightgrey;
    

}

.square{
    background-color: white;
    margin: 0;
    
}
